<nav>
    <ul>
        <li>
            Language
            <ul>
                <li><a href="/zh-tw/">中文</a></li>
                <li><a href="/en/">English</a></li>
            </ul>
        </li>
        <li> <a href="#education">{{ text_section.education }}</a> </li>
        <li> <a href="#publication">{{ text_section.publication }}</a> </li>
            <ul>
                <li> <a href="#conference_paper">{{ text_section.conference_paper }}</a> </li>
                <li> <a href="#journal_paper">{{ text_section.journal_paper }}</a> </li>
            </ul>
        <li> <a href="#award">{{ text_section.award }}</a> </li>
    </ul>
</nav>