<nav>
    <ul>
        <li>
            Language
            <ul>
                <li><a href="/zh-tw/">中文</a></li>
                <li><a href="/en/">English</a></li>
            </ul>
        </li>
        <li> <a href="#education">{{ text.education }}</a> </li>
        <li> <a href="#publication">{{ text.publication }}</a> </li>
            <ul>
                <li> <a href="#conference_paper">{{ text.conference_paper }}</a> </li>
                <li> <a href="#journal_paper">{{ text.journal_paper }}</a> </li>
            </ul>
        <li> <a href="#award">{{ text.award }}</a> </li>
    </ul>
</nav>