{% assign education_list = site.data.info.education %}

<h2 id="education">{{ text_section.education }}</h2>
<ol>
{% for education_item in education_list %}
    {% assign degree = education_item.degree[page.language] | default: education_item.degree["default"] %}
    {% assign department = education_item.department[page.language] | default: education_item.department["default"] %}
    {% assign name = education_item.name[page.language] | default: education_item.name["default"] %}
    {% assign from = education_item.from[page.language] | default: education_item.from["default"] %}
    {% assign end = education_item.end[page.language] | default: education_item.end["default"] %}
    <li>
        {{ degree }},
        {{ department }}, 
        {{ name }}, 
        {{ from }} ~ {{ end }}
    </li>
{% endfor %}
</ol>