{% assign item_list = resume.programming %}

<h2 id="sec-programming">{{ text_section.programming }}</h2>

<ol>
{% for item in item_list %}
    {% assign title = item.title[page.language] | default: item.title %}
    {% assign description = item.description[page.language] | default: item.description %}
    {% assign main_program_lang = item.main_program_lang[page.language] | default: item.main_program_lang %}
    <li>
        <h3>{{ title }}</h3>
        {{ description }} <br>
        programming language: {{ main_program_lang }}
    </li>
{% endfor %}
</ol>
