{% assign item_list = resume.programming %}

<h2 id="sec-programming">{{ text_section.programming }}</h2>

<ol>
{% for item in item_list %}
    {% assign title = item.title[page.language] | default: item.title %}
    {% assign description = item.description[page.language] | default: item.description %}
    {% assign main_program_lang = item.main_program_lang[page.language] | default: item.main_program_lang %}
    <li>
        <b>{{ title }}</b>
        <ul>
            <li>{{ description }}</li>
            <li>programming language: {{ main_program_lang }}</li>
        </ul>      
    </li>
{% endfor %}
</ol>
