{% assign resume = site.data.resume %}
{% assign text_section = site.data.text.section[page.language] %}
{% assign text_plain = site.data.text.plain[page.language] %}

<!DOCTYPE html>
<html lang="{{ page.language }}">
    <head>
        <title>{{ page.title }}</title>
    
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
        {% seo title=false %}
    
        {% include google_analytics.html %}
    
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    
        {{ emphasize-name }}
    </head>
    <body>
        <div class="container">
        <nav class="navbar navbar-expand-lg">
            <div class="container-fluid">
                <a id="name" class="navbar-brand" href="/">{{ resume.name[page.language] }}</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <ul class="navbar-nav">
                        <a class="nav-link" href="#education">{{ text_section.education }}</a>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#publication" role="button" data-bs-toggle="dropdown" aria-expanded="false">{{ text_section.publication }}</a>
                            <ul class="dropdown-menu">
                                <li> <a class="nav-link" href="#conference_paper">{{ text_section.conference_paper }}</a> </li>
                                <li> <a class="nav-link" href="#journal_paper">{{ text_section.journal_paper }}</a> </li>
                            </ul>
                        </li>
                        <a class="nav-link" href="#award">{{ text_section.award }}</a>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Language</a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="/zh-tw">繁體中文</a></li>
                                <li><a class="dropdown-item" href="/">English</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- <ul class="navbar-nav">
                <li>
                    Language
                    <ul>
                        <li><a href="/zh-tw/">中文</a></li>
                        <li><a href="/">English</a></li>
                    </ul>
                </li>
                <li> <a href="#education">{{ text_section.education }}</a> </li>
                <li> <a href="#publication">{{ text_section.publication }}</a> </li>
                    <ul>
                        <li> <a href="#conference_paper">{{ text_section.conference_paper }}</a> </li>
                        <li> <a href="#journal_paper">{{ text_section.journal_paper }}</a> </li>
                    </ul>
                <li> <a href="#award">{{ text_section.award }}</a> </li>
            </ul> -->
        </nav>
        </div>

        {{ content }}
        
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
        <script>
            function bold(){
                var toReplace = "{% for name in site.data.resume.name %}{{ name[1] }} {% endfor %}".trim().split(' ');
                //var toReplace = "{{ site.data.info.name[page.language] | default: site.data.info.name['default'] }}".trim().split(' ');
                for(var i in toReplace){
                    console.log(toReplace[i])
                    document.body.innerHTML = document.body.innerHTML.replaceAll(toReplace[i], `<b>${toReplace[i]}</b>`);
                }
            }
            bold()
        </script>
    </body>
</html>