{% assign default = site.data.info["default"] %}
{% assign info = site.data.info[page.language] %}
{% assign text = site.data.text[page.language] %}

<!DOCTYPE html>
<html>
    <head>
        <title>{{ info.profile.name[page.language] | default: site.title }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% seo title=false %}
        {% include google_analytics.html %}
        {% if page.layout == "resume" %}{% include emphasize.html %}{% endif %}
    </head>
    <body>
        {{ content }}
    </body>
</html>