---
layout: default
---

{% assign resume = site.data.resume %}
{% assign text_section = site.data.text.section[page.language] %}
{% assign text_plain = site.data.text.plain[page.language] %}

{% capture emphasize-name %}
    {% include emphasize.html %}
{% endcapture %}

<div class="container">
    <ul style="list-style-type:none">
        <li>email: <a href="mailto:{{ resume.email }}">{{ resume.email }}</a></li>    
    </ul>
</div>
    
<div class="container">    
    <p>
        {{ page.description }}
    </p>
</div>

<div class="container">
    {% include cv/education.liquid %}
</div>

<div class="container">
    {% include cv/publication.liquid %}
</div>

<div class="container">
    {% if page.resume.award %}
        {% include cv/award.liquid %}
    {% endif %}
</div>

<div class="container">
    {% if page.resume.programming %}
        {% include cv/programming.liquid %}
    {% endif %}
</div>

{{ content }}
