---
layout: default
---

{% assign info = site.data.info %}
{% assign text_section = site.data.text.section[page.language] %}
{% assign text_plain = site.data.text.plain[page.language] %}

{% capture emphasize-name %}
    {% include emphasize.html %}
{% endcapture %}

{% include head.html %}

<body onload="bold()">
    <h1 id="name"><a href="/">{{ info.name[page.language] }}</a></h1>

    {% include nav.html %}

<ul style="list-style-type:none">
    <li>email: <a href="mailto:{{ info.email }}">{{ info.email }}</a></li>    
</ul>

<p>
    {{ page.description }}
</p>

{% include cv/education.html %}

{% include cv/publication.html %}

{% if page.resume.award %}
    {% include cv/award.html %}
{% endif %}

{{ content }}

</body>