---
layout: default
...

{% assign info = site.data.info %}
{% assign text = site.data.text %}

{% include head.html %}

{% for lang in info.name %}
    {% if lang[0] == "default" %} {% continue %} {% endif %}
    <h1><a href="/{{lang[0]}}">{{ lang[1] }}</a></h1>

    {% assign la = lang[0] %}
    <ol>
    {% for text in text.section[la] %}
        <li>
            <a href="/{{lang[0]}}/#{{text[0]}}">{{ text[1] }}</a>
        </li>
    {% endfor %}
    </ol>
{% endfor %}

{{ content }}