---
import DefaultLayout from "@layouts/Layout.astro";
---

<DefaultLayout>
    <div class="container mx-auto min-h-screen p-4 bg-white max-w-full lg:max-w-5xl shadow-lg">
        <slot />
    </div>
</DefaultLayout>